<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">

    <a class="navbar-brand" style="padding-left: 200px;" href="/">
      <div class="logo-image">
            <img src="../../assets/logo1.png" class="img-fluid">
      </div>
  </a>

    <div class="row" style="padding-right: 20px">
      <div class="col">
          <i class="fas fa-expand-arrows-alt" style="color: white"></i>
      </div>

      <div class="col">
          <i class="fas fa-bell" style="color: white"></i>
      </div>

      <div class="col">
          <i class="fas fa-user" style="color: white"></i>
      </div>

      <div class="col">
          <i class="fas fa-expand-arrows-alt" style="color: white"></i>
      </div>
    </div>
  </nav>
